/vendor
/node_modules
/.env
/.env.backup
/storage/*.key
/storage/debugbar
/public/hot
/public/storage
/bootstrap/cache/config.php
/bootstrap/cache/packages.php
/bootstrap/cache/routes-v7.php
/bootstrap/cache/services.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
